
.main{
    background: linear-gradient(135deg, hsl(230, 40%, 12%), hsl(230, 20%, 7%));
    background-size: cover;
    position: absolute;
    top:0px;
    right:0px;
    bottom:0px;
    left:0px;
    color: white;
    display: inline;
    transform: perspective();
        
    /* shorthand
    animation: fade-in-top 1s ease 0s 1 normal none;*/
}

.main img {
    translate: 6.5vw 13.3vw;
    position: absolute;
    z-index: 10;
    width: 30vw
}


  .text{
    display: block;
    font-size: 1.5vw;
    position: relative;
    height: 100vh;
  }

  .text h4{
    font-weight: 200;
    line-height : 2vw
  }

  .text h1{
    font-weight: 300
  }

  .buttonC{
    position: absolute;
    translate:  16vw 32vw;
    z-index: 1;
    display: block
  }

  .buttonC button {
    display: flexbox;
    font-family: PlusJakartaSans,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Cantarell,Helvetica Neue,Ubuntu,sans-serif;
    font-size: 1rem;
    width: 12vw;
    height: 3.1vw;
    border-radius: 0.4rem;
    font-weight: 600;
    text-align: center;

    position: relative;
    color: #ddd;
    border: none;
    background: #000000;
   }
   
   
.buttonC  button:hover {
    background: #2b2a2a;
   }

.button a{
  color: white;
  text-decoration: none;
}